<div class="jumbotron">
	<h1 class="display-4">Are you using the right credit card?</h1>
	<p class="lead">There are so many credit cards available on the market at present, but which one is the best for you? This site will recommend the best credit cards to you base on your monthly spending habits, so that you can get the most rewards for every purchase you make!</p>
	<a class="btn btn-primary btn-lg" href="/best-cards" role="button" data-toggle="tooltip" data-placement="right" title="Requires Log In">Show me the best cards!</a>
</div>