<!-- markup for the result page if the user selects no or a low credit score -->

<div class="jumbotron">
	<h1 class="display-4">Low or no credit?</h1>
	<p class="lead">This website is primarily meant to be used by those with a credit score of 670 or more. However, if your credit score is lower than that, or if you have not established your credit history, don't worry - you have other options as well!</p>
    <p class="lead">If you have no credit history or is rebuilding your credit, consider applying for a secured credit card - we recommend <a href="https://www.doctorofcredit.com/credit-cards/secured/discover-it-secured-credit-card-review/">Discover it Secured</a>. You can also check out other secured cards or learn more about these cards <a href="https://www.doctorofcredit.com/credit-cards/secured/">here</a>.</p>
</div>